extends layout

block content
    aside.col-md-3.hidden-sm.hidden-xs
        h2 Basic Information
        p Class Time: Monday 5:00-7:50, DBH 1300
        p Slack: 
            a(href="https://uci-inf241-wi19.slack.com") https://uci-inf241-wi19.slack.com
        p Email: 
            a(href="mailto:epstein@ics.uci.edu") epstein@ics.uci.edu
        p Office hours: By appointment, and as scheduled for project meetings
        h2 Course Staff
        a(href="http://depstein.net") Professor Daniel Epstein
        img(src="/images/epstein.jpg" alt="" width="200px")
    main.col-md-9.col-sm-12
        p Welcome! This class focuses on understanding and interpreting the move of computing towards ubiquitous devices. Computing today is more than a desktop for every office worker. Today, people interact with a range of devices as they move through the world. The recent explosion of devices, often grouped under the "internet of things" moniker, has stretched the concept to the point where it is hard to define. Together, we will explore what it means for computing to truly be Ubiquitous.
        p The course project will require hands-on experience with Ubiquitous Computing, which remaining open to different possibilities. You might choose to design and implement a new Ubiquitous Computing technology. You might choose to study and understand a ubiquitous example of technology.
        p 
            strong This course will require a substantial amount of reading
            | . You will be sorely disappointed if you expect lectures and assignments on how to process signals or print nanomaterials. We will instead look to understand the research literature through discussion and make new contributions through projects. Projects may be novel implementations, but we expect that you will pick up the implementation skills elseware.
        p We will emphasize open discussion and feedback in all aspects of the course.
        h2 Readings
        p Assigned readings will focus on research topics, generally consisting of:
        ul
            li One or a few 
                em historic framing papers
                | : presenting a theory, language, or understanding that can help in understanding and contextualizing the contributions of additional research.
            li Two papers that provide 
                em more recent or specific contributions
                | : presenting the type of contribution you might initially be expected to attempt in your research.
        p You are expected to read: (1) the historical framing paper(s), and (2) either of the more current papers (in other words, whichever seems more compelling or interesting to you). You obviously may choose to read both of the more current papers. The calendar will link to assigned readings and provide any day-specific revisions to this reading structure.
        p You are expected to have read and considered the assigned readings prior to class, as the in-class discussions are a critical component of this course.
        h2 Reading reports
        p To help prepare for an engaging and meaningful discussion, we require posting thoughts and questions beforehand. You can start a new discussion, participate in an existing discussion, or a bit of both. You can discuss all of the assigned readings, or focus on a portion of the reading that you found most interesting. The important part is that we can see intellectual effort in your participation, not just a simple paper summary.
        p Reading reports are generally expected to be approximately 200 to 400 words, which may be in a single post or distributed across several posts related to a day's readings. We expect most will be short and focused on discussion points or questions. Posts that exceed the upper limit or primarily summarize the reading itself will receive low grades. This aims to strike a balance between: (1) enough text to convey a meaningful response, and (2) succinct enough to allow review before class.
        p We will create a Slack channel for each week's readings. We encourage the use of threads to respond to points brought up by classmates.
        p Your participation in the Slack discussion for each day will be graded on a scale from 0 to 3.
        ul
            li 0: If you did not participate.
            li 1: If your participation seems weak or does not convince us that you read, understood, and considered the readings.
            li 2: If your participations shows you read and understood the readings and had something interesting to say. This will be the most common grade.
            li 3: Reserved for especially insightful participation.
        p It is generally easy to find something to criticize in any piece of research. But focusing extensively on the potential flaws of research is generally not productive. You will generally fint it more intellectually worthwhile to focus on aspects of work that are particularly well done, new ideas prompted by a piece of work, or what you might have done differently if you conducted the research. This will also lead to much more valuable discussions.
        p Potential topics for discussion include:
        ul
            li What idea or innovation enabled this? What more might be done based on that idea or innovation?
            li What new questions or research agendas are suggested by this research?
            li How might this research have informed some other research that you have seen?
            li What aspects of this work were particularly well done or effective?
            li If you had conducted this research, what would you have done differently?
        p Reading reports are due at 11:59pm the night before each class meeting. This ensures time the next day to review discussion before class. Submitting the day of class, just before class, or in class is therefore unacceptable, risking zero credit. But feel free to continue a discussion after this, even after class.
        h2 Leading discussion
        p You will lead the discussion once during the quarter. Roughly 4 of you will be discussion leaders per class. Though it might be tempting to split the responsibility by reading, this is not ideal because (1) the same framing readings will be discussed in two groups, and (2) the current readings are intended to have connections to the framing readings. It is therefore recommended that you split the current readings in your group, but all be prepared to lead the discussion of the framing readings. In reality, your role as a leader is quite similar to your role any other week. But you will be expected to be more of an expert on that week's readings.
        p Leading discussion can consist of:
        ul
            li Guiding the discussion to cover the key points made in the reading
            li Bringing in outside readings, topics, or ideas as appropriate
            li Referencing points discussed in the reading reports
            li Ensuring a range of voices and perspectives are given the opportunity to speak
        p As part of leading discussion, your group must select two current readings for each topic. It is recommended that the readings come from 
            a(href="https://imwut.acm.org/") IMWUT
            | , but other venues related to Ubiquitous Computing are also welcome. We have compiled 
            a(href="https://docs.google.com/document/d/1yD0HThD8kcgEbEjso0nBObhhi8GAn5Ciw_EXPRTIpfs/edit?usp=sharing") some recommendations
            |  from recent conferences. You may suggest a reading not on this list. All readings must be fairly recent (e.g., in the last 3 years). To give your classmates time to complete the reading, you must confirm your selected readings with the instructor by the end of the day the 
            strong Tuesday before the week's class
            |  (e.g., 6 days before class). Feel free to confirm earlier.
        h2 In-class time
        p Class time will generally be broken down as follows:
        ul
            li 5:00pm-5:15pm Announcements and setting the stage for the day's discussion
            li 5:20pm-6:00pm Discussion on the framing readings
            li 6:00pm-6:20pm Break
            li 6:20pm-7:00pm Discussion on the recent readings
            li 7:05pm-7:50pm Synthesis as a large group, project presentations/updates
        h2 Project
        p A course project will be a major component of your work. Details about the project are 
            a(href="./project") here
            | . Dates are also linked from the course calendar.
        tbd A Canvas or Slack thread will be created with some sample project ideas. You can also use that discussion to identify potential project partners and post your own ideas.
        h2 Grading
        p Grades will roughly correspond to:
        ul
            li 50% Group project
            ul
                li 5% Project proposal
                li 10% Milestone report
                li 10% Final poster
                li 25% Final report
            li 30% Reading reports
            li 10% Leading discussion
            li 10% Participation
        p Most of the grading in this course is necessarily subjective. We will attempt to communicate expectations and feedback throughout the course, but it is your responsibility to communicate with us if you would like guidance in this regard.
        p Project milestone grading will emphasize progress and preparation to engage with direction and feedback. Final project report and poster grading will then consider the overall execution.
        h2 Repository
        p
            | This website is live on GitHub: 
            a(href="https://github.com/uci-inf-241/inf241-wi19", target="_blank") https://github.com/uci-inf-241/inf241-wi19
        p You can create issues if information is unclear, incorrect, or out-of-date. You can even submit a pull request to resolve them yourself!